<header class="header">
  <div class="container page-header">
    <nav class="header-navigation">
      <a href="./index.html" class="logo"
        ><img src="#" width="128" height="45" alt="Логотип адский английский"
      /></a>

      <ul class="header-list">
        <li class="header-item">
          <a href="#" class="header-link">Программы обучения</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">О нас</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Варианты обучения</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Контакты</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn-consult">Консультация по телефону</button>
    <button
      type="button"
      class="btn-burger"
      aria-expanded="false"
      data-modal-open
    >
      <svg
        class="icon-menu"
        width="20.5"
        height="12"
        aria-label="Переклчатель мобильного меню"
      >
        <use class="icon-menu" xlink:href="./images/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
