<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      type="button"
      class="btn-burger icon-cross"
      aria-expanded="false"
      data-modal-close
    >
      <svg
        class="icon-cross"
        width="14.5"
        height="14.5"
        aria-label="Переклчатель мобильного меню"
      >
        <use class="icon-cross" xlink:href="./images/sprite.svg#cross"></use>
      </svg>
    </button>
    <a href="#" class="logo-modal"
      ><img
        class="logo-modal"
        src="./images/logo-modal.png"
        width="128"
        height="45"
        alt="Логотип Адский английский"
    /></a>

    <ul class="modal-menu">
      <li class="header-item">
        <a href="#" class="header-link">Программы обучения</a>
      </li>
      <li class="header-item">
        <a href="#" class="header-link">О нас</a>
      </li>
      <li class="header-item">
        <a href="#" class="header-link">Варианты обучения</a>
      </li>
      <li class="header-item">
        <a href="#" class="header-link">Контакты</a>
      </li>
    </ul>
    <button type="button" class="btn-consult-modal">
      Консультация по телефону
    </button>
  </div>
</div>
